In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
# read Aviation_Data.csv located in the data folder in this directory
df = pd.read_csv('data/Aviation_Data.csv', low_memory=False)

In [71]:
# remove all 'Make' values that occur less than 20 times
df = df[df.groupby('Make')['Make'].transform('count') > 20]

In [72]:
# Define a function to normalize the 'Make' values
def normalize_make(make):
    if isinstance(make, str):
        return make.lower().strip()
    return make

# Define a function to standardize and clean the 'Make' values
def clean_make(make):
    if isinstance(make, str):
        replacements = {
            "beechcraft": "beech",
            "cessna aircraft co": "cessna",
            "robinson helicopter": "robinson",
            "robinson helicopter co": "robinson",
            "robinson helicopter company": "robinson",
            "air tractor inc": "air tractor",
            "airbus industrie": "airbus",
            "american champion aircraft": "american champion",
            "american": "american champion",
            "aviat aircraft inc": "aviat",
            "bell helicopter textron canada": "bell",
            "bell helicopter textron": "bell",
            "boeing stearman": "boeing",
            "bombardier inc": "bombardier",
            "bombardier, inc.": "bombardier",
            "cameron": "cameron balloons",
            "cirrus": "cirrus design corp",
            "cirrus design corp.": "cirrus design corp",
            "dehavilland": "de havilland",
            "diamond": "diamond aircraft industries",
            "diamond aircraft ind inc": "diamond aircraft industries",
            "eurocopter france": "eurocopter",
            "fairchild": "fairchild hiller",
            "grumman acft eng cor-schweizer": "grumman",
            "grumman american avn. corp.": "grumman",
            "grumman-schweizer": "grumman",
            "gulfstream american": "gulfstream",
            "gulfstream-schweizer": "gulfstream",
            "mcdonnell douglas": "mcdonnell douglas helicopter",
            "md helicopter": "mcdonnell douglas helicopter",
            "mooney aircraft corp.": "mooney",
            "piper aircraft inc": "piper",
            "robinson company": "robinson",
            "robinson co": "robinson",
            "rockwell international": "rockwell",
            "smith": "smith, ted aerostar",
            "vans aircraft": "vans",
            "ayres corporation": "ayres",
            "cirrus design corp": "cirrus",
            "grumman american": "grumman",
            "texas helicopter": "texas helicopter corp",
            "taylorcraft": "taylorcraft aviation"
        }

        if make in replacements:
            make = replacements[make]

        # Remove extra information
        make = make.split("(")[0].strip()
        make = make.split(" ")[0].strip() if "ab (saab)" in make else make

    return make

In [73]:
# Apply the normalize_make function to the 'Make' column
df['Make'] = df['Make'].apply(normalize_make)

# Apply the clean_make function to the 'Make' column
df['Make'] = df['Make'].apply(clean_make)

# remove any value of 'unknown' in the 'Make' column
df = df[df['Make'] != 'unknown']

In [74]:
# print the number of times each 'Make' value occurs
df['Make'].value_counts()

cessna        27173
piper         14897
beech          5397
boeing         2796
bell           2766
              ...
pzl-mielec       22
barnes           22
garlick          22
bae              21
temco            21
Name: Make, Length: 120, dtype: int64

In [75]:
# testing to see that dataset still is intact after cleaning
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980